@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9cd01;
  --foreground: #1a1a1a;
  --spotx-red: #b00808;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Το animation για το μωβ φωτάκι που λέγαμε */
@keyframes flicker {
  0%, 100% { opacity: 0.4; shadow: 0 0 10px #a855f7; }
  50% { opacity: 1; shadow: 0 0 25px #d946ef; }
}

.flicker-purple {
  animation: flicker 1.5s infinite ease-in-out;
}
